@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
    --secondary: #232b38;
    --ternary: #6c6c6c;
    --danger: #fe4545;
    --pure: #fefefe;
    --light: #f0f0f0;
    --heaven: #ffffff;
    --footer: #2d333f;
    --transition: all 0.3s linear;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --clr-grey-4: hsl(209, 28%, 39%);

    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);

    /* primary */
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    --clr-primary-5: #49a6e9;
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-grey-10);
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    font-size: 0.85rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header h2,
header h4 {
    text-align: center;
    margin: 1rem;
    letter-spacing: 2px;
}
header h2 {
    margin-top: 0;
}

.highlight {
    color: #49a6e9;
}
header h2 {
    font-size: 30px;
    font-weight: 500;
    color: var(--footer);
}
header h4 {
    font-weight: 400;

    color: var(--ternary);
}
input,
button {
    padding: 0.5rem !important;
    border-radius: 5px;
    margin: 1rem 0 !important;
    border: 2px solid var(--light);
    font-size: 15px;
    letter-spacing: 2px;
    font-size: 0.85rem;
    transition: var(--transition);
    /* border: 2px solid transparent; */
}
button {
    border: none;
}
input:focus {
    outline: none;
    border: 2px solid var(--clr-primary-8);
}
div.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: var(--light-shadow);
    border-radius: 0.5rem;
    padding: 3rem;
    /* height: 300px; */
    width: 500px;
    transition: var(--transition);
}

div.form:hover {
    box-shadow: var(--dark-shadow);
}
.submit-btn {
    background: var(--clr-primary-8);

    text-transform: capitalize;
    letter-spacing: 2px;
    /* border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius); */
    cursor: pointer;
    content: var(--clr-primary-5);
    transition: var(--transition);
    font-size: 0.85rem;
}
.submit-btn:hover {
    background: var(--clr-primary-5);
    color: white;
}
.alert-danger {
    color: #721c24;
    background: #f8d7da;
}
.alert {
    height: 1.25rem;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 0.25rem;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
}
.alert-success {
    color: #155724;
    background: #d4edda;
}
